<div class="experiment-wrap" ng-show="!$ctrl.runningTest">
    <div class="experiment" ng-repeat="experiment in $ctrl.experiments">
        <div class="experiment-block">
            <button class="arrow"
                    ng-click="experiment.isOpen = !experiment.isOpen"
                    ng-class="{'arrow-close': experiment.isOpen}">
                <img src="assets/images/down-arrow.svg" />
            </button>
            {{experiment.name}}
            <button class="setting-btn" ng-click="$ctrl.openExperimentSettings()">
                <img src="assets/images/settings.svg" />
            </button>
        </div>
        <div class="test-wrap" ng-show="experiment.isOpen">
            <div class="test" ng-repeat="test in experiment.tests">
                <div class="experiment-block">
                    {{test.name}}
                    <button class="setting-btn" ng-click="$ctrl.runTest(test)">
                        <img src="assets/images/round-play-button.svg" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<execute-test ng-if="$ctrl.runningTest"
              test="$ctrl.runningTest"
              time-delay="$ctrl.testTimeDelay"
              on-finish-test="$ctrl.finishTest(results)"
>

</execute-test>

